* {
    margin: 0;
    padding: 0;
    background: rgb(0, 0, 0);
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.center {
    text-align: center;
}

.below_title {
    margin-top: 2em;
}

.title {
    color: pink;
    font-size: 4em;
}

.center.below_title li {
    font-size: 2em;
}

.small_img {
    width: 70vh;
}

.div_img {
    margin: 10px 0;
}

.portrait_left {
    transform: rotate(-90deg);
    height: 100vh;
}

section {
    font-size: 1.2em;
}

section .header {
    font-size: 3em;
    background: rgb(88, 85, 85);
}

section li {
    color: pink;
    margin: 10px 0;
}

section ul {
    font-size: 1.2em;
}

section .indication {
    font-size: 2em;
    color: cyan;
}

section.center {
    margin: 10px 0;
    padding: 10px 0;
}

.list_items {
    width: 50vw;
    margin: auto;
    text-align: left;
    width: 250px;
}

.center ol .list_items {
    width: 80%;
}
